<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>493362261757-52o9dsfof88l1kj9q0738gsur1ipsjev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493362261757-52o9dsfof88l1kj9q0738gsur1ipsjev</string>
	<key>API_KEY</key>
	<string>AIzaSyAYA1uN8n8BrypRvzVbHxc5vpbVy4pWG90</string>
	<key>GCM_SENDER_ID</key>
	<string>493362261757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wonder.zone</string>
	<key>PROJECT_ID</key>
	<string>familykitchen-fe204</string>
	<key>STORAGE_BUCKET</key>
	<string>familykitchen-fe204.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493362261757:ios:37823bac987683f4a2d894</string>
</dict>
</plist>